﻿@{
	ViewData["Title"] = "Home Page";

}
@model User;
<head>
	<link href="~/css/Home.css" rel="stylesheet" />
	<link type="text/javascript" href="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"/>
</head>

<div id="pg-main">
	<div class="email-form">
		<form>
			<div class="form-group">
				<label asp-for="@Model.email"></label>
				<input asp-for="@Model.email" class="form-control" id="user-email" placeholder="Enter an email..." required />
				<span asp-validation-for="@Model.email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<button type="button" class="form-control btn btn-info" id="submit-btn">Send</button>
			</div>
		</form>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/bootbox.all.js"></script>
@*<script src="~/js/sendemail.js"></script>*@
<script>
	$(function SearchBtn() {
		$(document).on('click', '#submit-btn', function (x) {
			$.LoadingOverlaySetup({
				background: "rgba(0, 0, 0, 0.3)",
			});
			var email = $('#user-email').val();
			console.log("In func");
			$.ajax({
				url: '/Home/Email/',
				data: { 'email': email },
				beforeSend: function (xhr, opts) {
					$('#submit-btn').prop('disabled', 'true');
					$.LoadingOverlay("show");

					if (email.length == 0) {
						bootbox.alert({
							message: "Please insert an email!",
							centerVertical: true,
							backdrop: true
						});
						$('#submit-btn').prop('disabled', false);
						$.LoadingOverlay("hide");

						xhr.abort();
					}
					else if (!validateEmail(email)) {
						console.log("Invalid email");

						bootbox.alert({
							message: "Please insert a valid email!",
							centerVertical: true,
							backdrop: true
						});
						$('#submit-btn').prop('disabled', false);
						$.LoadingOverlay("hide");

						xhr.abort();
					}
				},
				type: 'POST',
				success: function (data) {
					if (data == 1) {
						console.log("success ");
						bootbox.alert({
							message: "Successful registration!",
							centerVertical: true,
							backdrop: true
						});
					}
					else if (data == 0) {
						console.log("error");
						bootbox.alert({
							message: "Something went wrong! Try again later!",
							centerVertical: true,
							backdrop: true
						});
					}
					$('#submit-btn').prop('disabled', false);
					$.LoadingOverlay("hide");

				},
				error: function (data) {
					console.log("error" + " " + data);

				}
			})
		});
	});
	function validateEmail($email) {
		var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/gi;
		return emailReg.test($email);
	}
		
</script>
