﻿
body {
	background-image: url('../images/hero-image.jpg');
	background-size:cover;
}

.email-form {
	width: 400px;
	background: #f1f1f1;
	height: 280px;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 40%;
	top: 25%;
	transform: translate(0%,0%);
}

.email-form label{
	display:block;
	text-align:center;
	line-height:1.5;
	font-size:20px;
	font-weight:500;
}

.email-form button{

	border-radius:25px;
}
